<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">
    <select id="empList" resultType="kr.ed.haebeop.domain.Emp">
        select * from free order by emp_no desc
    </select>
    <select id="empDetail" resultType="kr.ed.haebeop.domain.Emp">
        select * from free where emp_no=#{emp_no}
    </select>
    <insert id="empInsert" >
        insert into emp values(#{emp_no}, #{first_name})
    </insert>
    <update id="empUpdate" >
        update emp set first_name=#{first_name} where emp_no=#{emp_no}
    </update>
    <delete id="empDelete" >
        delete emp free where emp_no=#{emp_no}
    </delete>
</mapper>



